<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.CsessioninfoMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Csessioninfo">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uuid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="skey" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="last_visit_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="session_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_info" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="score" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <select id="getScore" resultType="com.ok.okhelper.pojo.po.Csessioninfo">
        select score from cSessionInfo
        where open_id = #{0}
  </select>

    <update id="updateUserScore">
        update cSessionInfo
        set score = score+ #{arg0}
        where open_id = #{arg1}
    </update>
  <select id="getRankGlobalData" resultType="com.ok.okhelper.pojo.po.Csessioninfo">
        select * from cSessionInfo
        order by score desc
        limit 10
  </select>

    <select id="getRankFriendsData" resultType="com.ok.okhelper.pojo.po.Csessioninfo">
        select * from cSessionInfo
        order by score desc
        limit 10
  </select>

    <select id="getGid" resultType="com.ok.okhelper.pojo.po.Csessioninfo">
        select * from cSessionInfo
        where open_id=#{0}
  </select>
</mapper>