<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.FriendsnetworkMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Friendsnetwork">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="openId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="appId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fromOpenId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fromGId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>

  <select id="selectFriend" resultType="com.ok.okhelper.pojo.po.Friendsnetwork">
        select * from friendsnetwork
        where openId = #{arg0} and fromOpenId = #{arg1}
  </select>

  <insert id="addFriend" parameterType="com.ok.okhelper.pojo.po.Friendsnetwork">
        insert into friendsnetwork(id,openId,appId,fromOpenId,fromGid,`time`)
        values (#{id},#{openid},#{appid},#{fromopenid},#{fromgid},#{time})
  </insert>
</mapper>