<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.PlayerMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.Player">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="playerName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="playerTeam" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="playerScore" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="hit" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="shotNum" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="hitRate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="threePointHit" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="threePointShotNum" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="threePointHitRate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="penaltyShotHit" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="penaltyShotHitNum" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="penaltyShotHitRate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="contestNum" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="contestTime" javaType="java.lang.Double" jdbcType="DOUBLE" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.ok.okhelper.pojo.po.Player">
    insert into player
    values(#{id},#{playername},#{playerteam},#{playerscore},#{hit},#{shotnum},#{hitrate},#{threepointhit},#{threepointshotnum},#{threepointhitrate},#{penaltyshothit},#{penaltyshothitnum},#{penaltyshothitrate},#{contestnum},#{contesttime})
  </insert>
  <select id="getPlayerList" resultType="com.ok.okhelper.pojo.po.Player">
    select * from player
  </select>
</mapper>