<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.QuestionDetailMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.QuestionDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sort_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ask" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="answer" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <select id="getQuestionDetail" parameterType="int" resultType="com.ok.okhelper.pojo.po.QuestionDetail">
        select * from question_detail
        where sort_id = #{arg0}
        order by rand() limit #{arg1}
  </select>

  <select id="getRandomQuestionDetail" parameterType="int" resultType="com.ok.okhelper.pojo.po.QuestionDetail">
        select * from question_detail
        order by rand() limit #{0}
  </select>

</mapper>