<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.User">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="uname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="upassword" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
</mapper>