<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ok.okhelper.dao.UserNetworkMapper">
  <resultMap id="BaseResultMap" type="com.ok.okhelper.pojo.po.UserNetwork">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <arg column="clickId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="fromClickId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="appid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="openid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fromGId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="scene" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="param_1" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
</mapper>